* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
body {
    font-family: 'Montserrat', sans-serif;

}
#icon {
    display: none;
    cursor: pointer;
     
  }
  
  
  #icon.clicked .top {
      transform: rotate(-65deg);
      position: absolute;
      top: 10px;
      right: 3px;
      transition: all 0.7s;
  }
  
  #icon.clicked .center {
      opacity: 0;
      height: 20px;
  
  }
  
  #icon.clicked .bottom {
      transform: rotate(65deg);
      transition: all 0.7s;
  position: absolute;
  top: 10px;
  right: 3px;
  
  }
  
  
  
  .topnav{
      background-color: #303030;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
  }
  #myLinks a{
      color: #ffffff;
      margin-right: 20px;
      text-decoration: none;
  }
  #myLinks a:hover{
      color: #e8631c;
      transition: all 0.3s;
      
  }
  .logo {
      width: 100px;
  
  
  }
  
  .search {
      max-width: 2%;
      height: 30px;
  }
   
  .top{
      background-color:#ffffff;
      width: 30px;
      height: 2px;
      margin-bottom: 5px;
      transition: all 0.5s;
  }
  .center{
      background-color:#ffffff;
      width: 30px;
      height: 2px;
      margin-bottom: 5px;
      opacity: 1;
  }
  .bottom{
      background-color:#ffffff;
      width: 30px;
      height: 2px;
      transition: all 0.5s;
  }
  
  
.about{
    display: flex;
    justify-content: space-between;
background-color: #ffffff;
margin: 0;
width: 100%;
padding-bottom: 100px ;
}
.right-side p{
font-size: 30px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
margin-left: 0;
max-width: 850px;

}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
       width: 70%;
       text-align: center;
       background-color: #e8631c;
       padding: 20px;

}
.about img{
    width:30%;
}


.about h2{
    font-size: 75px;
    text-transform:uppercase;
    color: #ffffff;
    font-weight: 700;
    margin-left: 0;
    font-family: "Oswald";
    text-align: center;
}

.statistics{
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("tools/about/counter.jpg"); 
background-repeat: no-repeat;
background-size: cover;


}
.statistics-title h2{
    font-size: 75px;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
    margin:0 0 60px 0;
}



.statistics-num{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.number1,.number2,.number3{
    font-size: 67px;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
    margin: 0;
}

.statistics-num .name{
font-size: 42px;
color:#ffffff;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
margin: 0;
}

.item{
  
        margin: 0 100px;
 
}
.partners{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#partnersSlider{
    display: flex;
    align-items: center;
    width: 90%;
}
.slick-initialized .slick-slide{
    color: #FFF;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#partnersSlider img{
    color: #fff;
    height: 100px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 150px;
}




.partners h3{

 font-size: 75px;
    text-transform: uppercase;
    color:#e8631c;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}

.slick-next{
    right: 15px;
  }
  .slick-prev{
    left: 15px;
  }
@media (min-width: 576px) and (max-width: 767px) {
   
    .search{
        height: 20px;
    }



    .right-side h2{
    font-size: 50px;
}
    .right-side p{
        font-size: 16px;
}
.item{
    margin-top:50px
}

.partners h3{
font-size: 50px;

}

}

@media (max-width: 576px){
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        justify-content: space-between;
        padding: 5px;
      }
      
      .topnav #myLinks {
        display: none;
        min-width: 600px;
   
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .topnav #icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
      }
      .search{
        display: none;
      }
      
.statistics{
    padding: 50px 10px;
}
    .about img{
        display: none;

    }
    .right-side{
        width: 100%;
    
    }
    .right-side h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    
    .right-side p{
        font-size: 16px;
    }
    .partners h3{
        font-size: 40px;
    }
   
#partnersSlider{
    width: 80%;
    overflow: hidden;
}
#partnersSlider img{
    width: 70px;
    height: 70px;
    
}
}